<!DOCTYPE html>
<body> 
	<title>Kianas and Roberts Webapp</title>

<!--sign in options-->
	<form class="one" action='www.google.com'>
		<p>Username:
			<input type='text' name='username' size='15' maxlength="30" />
		</p>
		<p>Password:
			<input type='password' name='Password' size='15' maxlength="30" />
		</p>
	</form>

<!--Start of main code-->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	<h1>Testing out the CSS code</h1>
		<p class="zero">This is for testing out your <b>CSS CODE</b> please do all your testing with this application <br />
		 Please add elemetnts as you go to test the elements you need<br />
		 So go ahead and have some fun!!!!
		</p>

		 <p class='zero'> Another section to test out some of the css specs<br /> 
			could be cool to do more colors for this on
		</p>
<!--Another section-->
	<h2>More Info</h2>
	<p class="zero">sticking more exmplaes of css in this page<br />
		Please ignore all conent on this page it does not make any sense<br />
		so have a nice day you ug;ly person
	</p>	

	<p class="one">By Robert Reyes</p>
</body>
